<html>
  <head>
    <title>パターンマッチテスト</title>
    <!--Vue.jsを利用-->
    <script src="https://unpkg.com/vue@next"></script>
    <!--キャッシュの無効化-->
    <meta http-equiv="Cache-Control" content="no-cache" />
  </head>
  <body>
    <div id="app">
      <h1>テスト</h1>
      <p>変数宣言・初期化</p>
      <textarea rows="10" cols="50" v-model="txt4"></textarea>
      <button @click="check_pattern(4)">チェック！</button>
      <br />
      <p>入力処理</p>
      <textarea rows="10" cols="50" v-model="txt5"></textarea>
      <button @click="check_pattern(5)">チェック！</button>
      <br />
      <p>出力処理</p>
      <textarea rows="10" cols="50" v-model="txt6"></textarea>
      <button @click="check_pattern(6)">チェック！</button>
      <p>結果：{{result}}</p>
      <script src="js/main.js"></script>
    </div>
  </body>
</html>
